<p>favorites works!</p>

<ng-container *ngIf="state$ | async as state">
    <st-filter-form></st-filter-form>
    <div *ngIf="state.filteredFavorites.length; else favoritesPatients">
        <table>
            <thead>
            <tr>
                <th>
                    code
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    sex
                </th>
                <th>
                    age
                </th>
                <th>
                    ...
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of state.filteredFavorites">
                <th>
                    {{ patient.code}}
                </th>
                <th>
                    {{ patient.fullName}}
                </th>
                <th>
                    {{ patient.sex.name}}
                </th>
                <th>
                    {{patient.age }}
                </th>
                <th>
                    <button (click)="removeFromFavorite(patient)">
                        removeFromFavorite
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <ng-template #favoritesPatients>
        <table>
            <thead>
            <tr>
                <th>
                    code
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    sex
                </th>
                <th>
                    age
                </th>
                <th>
                    ...
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of state.patientsFavorites">
                <th>
                    {{ patient.code}}
                </th>
                <th>
                    {{ patient.fullName}}
                </th>
                <th>
                    {{ patient.sex.name}}
                </th>
                <th>
                    {{patient.age }}
                </th>
                <th>
                    <button (click)="removeFromFavorite(patient)">
                        removeFromFavorite
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
    </ng-template>

</ng-container>
<ng-template #empty>
    empty
</ng-template>