.wrapper {
  margin: 3.5em auto;
}
table {
  margin-top: .9em;
  width: 100%;
  box-shadow: 0 2px 8px #c5c5c5,
  0 -2px 6px #ffffff;
  border-collapse: collapse;
  background-color: #ffffff;
  color:  #78808d;
}

table, tr, th {
  padding: 1.1em;
  font-weight: 900;
  border: {
    top: 1px solid #e0e0e0;
    bottom: 1px solid #e0e0e0;
  };
  font-size: 1em;
}

tr, td {
  padding: .5em 1.3em;
}
.btn {
  padding: .3em 1em;
  border: none;
  background-color: #fff;
  border-radius: 25%;
  box-shadow:  5px 5px 10px #d1d1d1,
  -5px -5px 10px #ffffff;
  &:active {
    box-shadow:  inset 1px 1px 5px #d1d1d1,
    inset -1px -1px 5px #ffffff;
  }
}
mat-icon {
  margin-top: 4px;
  cursor: pointer;
}
mat-icon.click {
  color: #f80000;
}

.group {
  width: 100%;
  position: relative;
}

.input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}