<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
    <div class="actions">
      <a mat-raised-button class="actions-main" color="primary" (click)="getPatients($event)">
        {{ 'stms.patients.get-patients' | translate }}
      </a>

      <div  class="wrapper" *ngIf="patients$ | async as patients" >
        <table>
          <thead>
            <tr>
              <th>
                №
              </th>
              <th>
                {{code}}
              </th>
              <th>
                {{fullName}}
              </th>
              <th>
                {{sex}}
              </th>
              <th>
                {{age}}
              </th>
              <th>
                {{phone}}
              </th>
              <th>
               {{favorites}}
              </th>
              <th>
                <button (click)="filterFavorite()">
                  filter
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let patient of patients; let i = index" [class.favorite]="patient.isFavorite">
            <td>
              {{ i + 1}}
            </td>
            <td cellspacing = "0">
              {{ patient.code}}
            </td>
            <td>
              {{ patient.fullName}}
            </td>
            <td>
              {{ patient.sex.name}}
            </td>
            <td>
              {{patient.age }}({{ patient.birthday}})
            </td>
            <td>
              {{patient.address.phone1}}
            </td>
            <td>
              <button class="btn" (click)="addToFavorite(patient)">
                <mat-icon aria-hidden="false" aria-label="Example home icon" [class.click]="patient.isFavorite">favorite</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
